body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.Top-part {
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

#mini-text {
    font-size: large;
}

.link-button {
    text-decoration: none;
    background-color: salmon;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700;
}

.Top-part-text {
    background-image: url(Materials/images/donation12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.middle-part1 {
    text-align: center;
}

.headline {
    font-size: 70px;
}

.middle-part2 {
    display: flex;
    margin-left: 20%;

}



.middle-part2-2 {
    margin-left: 10%;
    margin-top: 13px;
    color: salmon;
    border: 5px solid salmon;
    height: 60px;
    width: 100px;
    padding-left: 0.5%;
}

.middle-part2-3 {
    margin-left: 10%;
}

.input-field {
    font-size: larger;
    text-align: center;
}

.link-button2 {
    text-decoration: none;
    background-color: salmon;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    margin-left: 45%;
}

.third-part {
    text-align: center;
}

#big-text {
    font-size: 40px;
}

.boxes {
    display: flex;
    box-shadow: 10px 40px gray;
}

.box1 {
    margin-left: 18%;
    width: 20%;
    box-shadow: 10px 40px crimson;
}

.box2 {
    margin-left: 5%;
    width: 20%;
    box-shadow: 10px 40px salmon;
}

.box3 {
    margin-left: 5%;
    width: 20%;
}